
  <div class="container">
    <header>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Top  Movies</h1>
      </div>
      <input type="text" placeholder="Search movies..." [(ngModel)]="searchText">
    </header>
    
    <div class="movie-list" >
      <div *ngFor="let movie of movies | paginate: { itemsPerPage: itemsPerPage, currentPage: page } | searchFilter: searchText" class="movie-card">
        <img [src]="movie['imageurl']" alt="{{ movie.title }}">
        <div class="movie-details">
          <h2>{{ movie.title }}</h2>
          <p>{{ movie.released }}</p>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
