.container{
    width: 90%;
    margin: auto;
}
pagination-controls {
    background-color: var(--highlight-color); 
    margin-top: 10px;
    padding: 0px;
    border-radius: 5px;
    color: white;
    display: block;
    width: 90%;
    margin:auto;
  }
  
  pagination-controls .ngx-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  pagination-controls .ngx-pagination .current,
  pagination-controls .ngx-pagination a {
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  pagination-controls .ngx-pagination .current {
    background-color: white;
    color: purple;
    font-weight: bold;
  }
  
  pagination-controls .ngx-pagination a:hover {
    background-color: #ffffff33; /* Slightly lighter purple on hover */
    color: white;
  }
  