.container{
    width: 90%;
    margin: auto;
}

header {
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 2rem;
    color: var(--highlight-color);
  }
  
  input[type="text"] {
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    color: var(--input-text-color);
    padding: 8px;
    border-radius: 4px;
    outline: none;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  input[type="text"]::placeholder {
    color: var(--input-text-color);
  }
  
  .movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .movie-card {
    background-color: var(--card-background-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
    border: 2px solid var(--highlight-color);
  }
  
  .movie-card img {
    width: 100%;
    border-bottom: 1px solid var(--input-border-color);
  }
  
  .movie-details {
    padding: 10px;
  }
  
  .movie-details h2 {
    font-size: 1.2rem;
    color: var(--highlight-color);
  }
  
  .movie-details p {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-top: 5px;
  }
  
pagination-controls {
    background-color: var(--highlight-color); 
    margin-top: 10px;
    padding: 0px;
    border-radius: 5px;
    color: white;
    display: block;
    width: 90%;
    margin:auto;
  }
  
  pagination-controls .ngx-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  pagination-controls .ngx-pagination .current,
  pagination-controls .ngx-pagination a {
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  pagination-controls .ngx-pagination .current {
    background-color: white;
    color: purple;
    font-weight: bold;
  }
  
  pagination-controls .ngx-pagination a:hover {
    background-color: #ffffff33; /* Slightly lighter purple on hover */
    color: white;
  }
  