:root {
    --background-color: #121212;
    --card-background-color: #1f1f1f;
    --text-color: #ffffff;
    --input-background-color: #333333;
    --input-border-color: #444444;
    --input-text-color: #ffffff;
    --highlight-color: #bb86fc;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
